<div class="row">
  <app-header></app-header>
</div>
<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem" [style.background-color]="sexo === 'M'? '#7D2F2F33':'' ">
          <div class="contenedor" (click)="masculino()">
            <i class="bi bi-gender-male"></i>
            <p>Masculino</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem " [style.background-color]="sexo === 'F'? '#7D2F2F33':''" >
          <div class="contenedor " (click)="femenino()">
            <i class="bi bi-gender-female"></i>
            <p>Femenino</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Altura</p>
            <div class="estiloNumero">
              {{altura}}
              <span class="cms">cms</span>
            </div>
            <input type="range" (input)="cambiarAltura($event)" class="form-range range-cust" [value]="altura" min="100" max="220">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Peso</p>
            <div class="estiloNumero">
              {{peso}}
            </div>
            <div class="simbols">
              <button (click)="sumarPeso()">
                <i class="bi bi-plus"></i>
              </button>
              <button (click)="resPeso()">
                <i class="bi bi-dash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Edad</p>
            <div class="estiloNumero">
              {{edad}}
            </div>
            <div class="simbols">
              <button (click)="sumarEdad()">
                <i class="bi bi-plus"></i>
              </button>
              <button (click)="resEdad()">
                <i class="bi bi-dash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button (click)="calcularBMI()" routerLink="/resultado" class="btn btn-primary btn-lg btn-block btn-color">
          <span>CALCULAR</span>
      </button>
    </div>
    </div>
  </div>
</div>

